{% extends "base.html" %}

{% macro print_chart(type, js_data, js_function) -%}
  {% set div_id = "%s" %(type) %}
  <div class"chart {{ type }} {{c}}">
    <div id="{{ div_id }}"></div>
  </div>
  <script>
    var data = {{ js_data|tojson|safe }}
    var func = {{ js_function }}
    window['func']({{ div_id }}, data)
  </script>
{%- endmacro %}

{% macro print_table(headers, data, data_func) -%}
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      {% for h in headers %}
        <th scope="col">{{ h|capitalize }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for k in data['keys'] %}
      <tr>
        <th scope="row">{{k}}</th>
        {% for h in headers %}
          {% if h in data[k] %}
            <td>{{ data_func(data[k][h]) }}</td>
          {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
{%- endmacro %}

{% block content %}
  <nav class="nav nav-pills">
    {% for opt in options %}
    {% set c = 'active' if opt == opt_active else '' %}
      <a class="nav-item nav-link {{c}}" href='{{"/all/%s" %(opt)}}'>{{opt}}</a>
    {% endfor %}
  </nav>

  {% if stats %}
    {% if stats['chart'] %}
      {% for c in stats['chart'] %}
        <div class="row">
          <div class="col-12">
            {{ print_chart("chart"+loop.index|string, c, c['plot']) }}
          </div>
        </div>
      {% endfor %}

    {% endif %}

    {% if stats['table'] %}
      {% for t in stats['table'] %}
        <div class="table-responsive stats" >
          <h4 class="text-center"><span class="badge badge-custom" style="background-color:{{t['color']}}">{{ t['title'] }}</span></h4>
          {% macro format(x) -%}
              {{ x|round(3)}}
          {%- endmacro %}
          {{ print_table(['action', 'mean', 'std', 'q1', 'q2', 'q3', 'min', 'max'],
                          t['data'], format) }}
        </div>
      {% endfor%}

    {% endif %}
  {% endif %}

{% endblock %}
