<!doctype html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/static/style.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/highcharts-more.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>
  <script src="/static/main.js"></script>
  <title>Link Layer</title>
</head>

<body>
  <div class="container-fluid">
    <ul class="nav nav-pills">
      {% for d in navs %}
        <li class="nav-item">
          {% set class = 'active' if d == nav_active else '' %}
          <a class="nav-link {{class}}" href="{{'/' + d}}">{{d}}</a>
        </li>
      {% endfor %}
  </ul>
    {% block content %}{% endblock %}
  </div>
  <!--<div class="container" id="footer">
    Copyright 2008 by <a href="http://hyrax.dcc.fc.up.pt/" target="_blank">Hyrax</a>
  </div>-->
</body>

</html>
