{% extends "base.html" %}

{% macro print_chart(type, badge, is_server, js_data, js_function) -%}
  {% set c = 'server' if is_server else 'client' %}
  {% set title = "%s %s Readings" % (type, c) %}
  {% set div_id = "%s_%s" %(type, c) %}
  <div class"chart {{ type }} {{c}}">
    <h4 class="text-center"><span class="badge {{ badge }}">{{ title|capitalize }}</span></h4>
    <div id="{{ div_id }}"></div>
  </div>
  <script>
    var data = {{ js_data|tojson|safe }}
    var func = {{ js_function }}
    window['func']({{ div_id }}, data)
  </script>
{%- endmacro %}

{% macro print_table(headers, data, data_func) -%}
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      {% for h in headers %}
        <th scope="col">{{ h|capitalize }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for k in data['keys'] %}
      <tr>
        <th scope="row">{{k}}</th>
        {% for h in headers %}
          {% if h in data[k] %}
            <td>{{ data_func(data[k][h]) }}</td>
          {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
{%- endmacro %}

{% macro print_stats(data, is_server) -%}
  {% set c = 'server' if is_server else 'client' %}
  {% set title = "Aggregate %s actions statistics (Milliseconds)" %(c) %}

  <div class="table-responsive stats actions {{c}}">
    <h4 class="text-center"><span class="badge badge-warning">{{ title }}</span></h4>
    {% macro format(x) -%}
        {{ x|round(3)}}
    {%- endmacro %}
    {{ print_table(['action', 'mean', 'std', 'q1', 'q2', 'q3', 'min', 'max', 'n'],
                    data['actions'], format) }}
  </div>
  {% set title = "Aggregate %s time statistics (Milliseconds)" %(c) %}
  <div class="table-responsive stats time {{c}}">
    <h4 class="text-center"><span class="badge badge-info">{{ title }}</span></h4>
    {% macro format(x) -%}
        {{ x|round(0) }}
    {%- endmacro %}
    {{ print_table(['-', 'mean', 'std', 'q1', 'q2', 'q3', 'min', 'max'],
                    data['time'], format) }}
  </div>

  {% set title = "Aggregate %s battery statistics (Energy - Joules)" %(c) %}
  <div class="table-responsive stats battery {{c}}">
    <h4 class="text-center"><span class="badge badge-secondary">{{ title }}</span></h4>
    {% macro format(x) -%}
        {{ x|round(3)}}
    {%- endmacro %}
    {{ print_table(['-', 'mean', 'std', 'q1', 'q2', 'q3', 'min', 'max'],
                    data['battery'], format) }}
  </div>

  {% set title = "Aggregate %s memory statistics (MB)" %(c) %}
  <div class="table-responsive stats memory {{c}}">
    <h4 class="text-center"><span class="badge badge-success">{{ title }}</span></h4>
    {% macro format(x) -%}
        {{ (x / 1000 / 1000)|round(2)}}
    {%- endmacro %}
    {{ print_table(['memory type', 'mean', 'std', 'q1', 'q2', 'q3', 'min', 'max'],
                    data['memory'], format) }}
  </div>
  {% set title = "Aggregate %s cpu statistics (%%)" %(c) %}
  <div class="table-responsive stats cpu {{c}}">
    <h4 class="text-center"><span class="badge badge-danger">{{ title }}</span></h4>
    {% macro format(x) -%}
        {{ (x*100)|round(0) }}
    {%- endmacro %}
    {{ print_table(['cpu', 'mean', 'std', 'q1', 'q2', 'q3', 'min', 'max'],
                    data['cpu'], format) }}
  </div>
  {% set title = "Aggregate %s combined statistics (%%)" %(c) %}
  <div class="table-responsive stats comb {{c}}">
    <h4 class="text-center"><span class="badge badge-light">{{ title }}</span></h4>
    {% macro format(x) -%}
        {{ x }}
    {%- endmacro %}
    {{ print_table(['action', 'time', 'cpu_total', 'cpu_process', 'mem_rss', 'mem_shared'],
                    data['comb'], format) }}
  </div>
{%- endmacro %}

{% block content %}
  <nav class="nav nav-pills nav-justified">
    {% set c = 'active' if exp_active == 0 else "" %}
    <a class="nav-item nav-link {{c}}" href='{{"/%s/all" %(nav_active)}}'>All</a>
    {% for n in range(1, exp_n + 1) %}
    {% set c = 'active' if n == exp_active else '' %}
      <a class="nav-item nav-link {{c}}" href='{{"/%s/%d" %(nav_active, n)}}'>{{n}}</a>
    {% endfor %}
  </nav>

  <div class="row">
    <div class="col-lg-12 col-xl-6 server">
      <!-- aggregate server stats -->
      {% if all %}
        {{ print_stats(all['server'], True) }}
      {% endif %}
      <!-- action server charts -->
      {% if act %}
        {{ print_chart("action", "badge-warning", True, act['server'], 'plotSplineActions') }}
      {% endif %}
      <!-- Battery server charts -->
      {% if batt %}
        {{ print_chart("battery", "badge-secondary", True, batt['server'], 'plotSpline') }}
      {% endif %}
      <!-- Battery charge server charts -->
      {% if batt_charge %}
        {{ print_chart("battery_charge", "badge-primary", True, batt_charge['server'], 'plotSpline') }}
      {% endif %}
      <!-- Memory server charts -->
      {% if mem %}
        {{ print_chart("memory", "badge-success", True, mem['server'], 'plotStackedArea') }}
      {% endif %}
      <!-- cpu server charts -->
      {% if cpu %}
        {{ print_chart("cpu", "badge-danger", True, cpu['server'], 'plotStackedArea') }}
      {% endif %}
    </div>


    <div class="col-lg-12 col-xl-6 client">
      <!-- aggregate client stats -->
      {% if all %}
        {{ print_stats(all['client'], False) }}
      {% endif %}
      <!-- action client charts -->
      {% if act %}
        {{ print_chart("action", "badge-warning", False, act['client'], 'plotSplineActions') }}
      {% endif %}
      <!-- Battery client charts -->
      {% if batt %}
        {{ print_chart("battery", "badge-secondary", False, batt['client'], 'plotSpline') }}
      {% endif %}
      <!-- Battery charge client charts -->
      {% if batt_charge %}
        {{ print_chart("battery_charge", "badge-primary", False, batt_charge['client'], 'plotSpline') }}
      {% endif %}
      <!-- Memory client charts -->
      {% if mem %}
        {{ print_chart("memory", "badge-success", False, mem['client'], 'plotStackedArea') }}
      {% endif %}
      <!-- cpu client charts -->
      {% if cpu %}
        {{ print_chart("cpu", "badge-danger", False, cpu['client'], 'plotStackedArea') }}
      {% endif %}
    </div>
  </div>
{% endblock %}
